@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  width: 0.2rem;
}

*::-webkit-scrollbar-track {
  background-color: #ffffff65;
  border-radius: 0.6rem;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  background-clip: padding-box;
}

*::-webkit-scrollbar-thumb {
  border-radius: 0.6rem; 
  background-color: #dddddd;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  background-clip: padding-box;
}